<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="/uploaded/login_files/style.css" rel="stylesheet" type="text/css" />
	<title>Messageboard Login</title>
</head>
<body> 
<div id="pasted_layer"> 

	<body>
		<div id="boards"> 
			 Messageboard Login
		</div> 
		<div id="login" class="rounded">
			<form action="/boards/" method="post">
				{% csrf_token %}
				Username:<input name="username" type="text"  > <br/>
	      			Password:  <input name="password" type="password"> <br/>
					 <input type="submit" value="Login">
	   		 </form>
			<a href="/boards/register/">Register</a>
		</div>
	</body>
</div> 
</body>
</html>
